* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Playfair Display', serif;
    background-color: #f0f0f0;
}

.navbar {
    background-color: white;
    padding: 10px;
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.search-bar {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 10px;
}

.search-bar input[type="text"] {
    padding: 10px;
    padding-left: 30px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    width: 500px;
}

.search-bar .search-icon {
    position: absolute;
    left: 10px;
    font-size: 18px;
    color: gray;
}

.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 20px;
}

.navbar nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    color: black;
    padding: 14px 10px;
    text-decoration: none;
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-bar {
        margin: 10px 0;
    }

    .search-bar input[type="text"] {
        width: 100%;
    }

    .navbar a {
        padding: 10px;
    }
}

.main-container {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly; /* Adjust as needed */
    height: 80vh; /* Adjust the height based on your design */
    margin: 50px auto; /* Center the container */
    max-width: 1200px; /* Adjust the maximum width */
}

.form-container, .contact-info {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%; /* Adjust the width of each container */
    margin: 10px; /* Adjust the margin between the containers */
    text-align: left;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form span {
    color: red;
}

.create-ticket {
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.contact-info {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%; /* Adjust the width of the contact info */
    margin: 10px; /* Adjust the margin between the containers */
    text-align: left;
}

.contact-info h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-item {
    display: flex;
    align-items: left;
    margin-bottom: 20px;
}

.contact-item i {
    font-size: 24px;
    color: white;
    background-color: #3b82f6;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.contact-item p {
    font-size: 16px;
    color: black;
}


.contact-item a {
    text-decoration: none;
    color: black;
}

footer {
    background-color: #f8f8f8;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-column {
    flex: 1;
    margin: 0 20px;
}

.footer-column h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-column p {
    font-size: 14px;
    line-height: 1.5;
    color: #666;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    text-decoration: none;
    color: #000;
    margin-right: 10px;
    font-size: 20px;
}

.social-icons a:hover {
    color: #0073e6;
}




